{% extends "app/base_template.html" %} {% block content %}
<div class="container">
  <div class="list-heading">
    <h1 class="list-header">Currency List</h1>
    <form method="get" action="{% url 'currency-list' %}" class="form-search">
      <div class="form-group-search">
        <input
          type="text"
          name="search"
          placeholder="Search by currency name"
          value="{{ request.GET.search }}"
          class="from-search-input"
        />
        <button type="submit" class="form-search-button">Search</button>
      </div>
    </form>
  </div>
  <ul class="list">
    {% for currency in currencies %}
    <li class="list-item">
      <a href="{% url 'currency-detail' currency.pk %}" class="list-link">
        {{ currency.name }} ({{ currency.symbol }})
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a>
        <a href="?page=1" class="page-link">First</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a href="?page={{ num }}" class="page-link page-link--current">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a href="?page={{ num }}" class="page-link">{{ num }}</a>
      {% endif %}
      {% endfor %}
      <span class="dots">...</span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.paginator.num_pages}}" class="page-link">Last</a>
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    {%endif %}
  </div>
  {% endblock %}
</div>
